h1{
  font-family: Oak,sans-serif;
  color: rgba(0,0,0,0.7);
  position:relative;
  top:calc(50% - 80px);
  left:calc(50% - 130px);
}

img{
  display: block;
  width: 70%;
  margin: 50% auto;

}

.loader {
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  filter:hue-rotate(0deg);
  background:linear-gradient(45deg,#0f8,#08f);
  animation:hue 10000ms infinite linear;

}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}
